Repository harunonsystem/cf-workers-actions: changes, and which lefthook commands are due for each by the changed paths.
All: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

lefthook.yml:

# Lefthook configuration for GitHub Actions optimization
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Pin GitHub Actions to commit SHA for security
    pinact:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:pin

    # Optimize GitHub Actions permissions
    gh-actions-permissions:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:permissions

    # Lint GitHub Actions workflows
    ghalint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:lint

    # Type check
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck

    # Lint
    lint:
      glob: '*.{ts,tsx,js,jsx}'
      run: pnpm lint

    # Format check
    format:
      glob: '*.{ts,tsx,js,jsx,json,yml,yaml,md}'
      run: pnpm format:check

pre-push:
  parallel: false
  commands:
    # Run all tests before push
    test:
      run: pnpm test

    # Build to ensure it compiles
    build:
      run: pnpm build

feat: implement cleanup action with full functionality
  .github/actions/ci-checks/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .oxlintrc.json
  .prettierrc
  README.md
  action.yml
  cleanup/action.yml
  dist/cleanup/index.d.ts
  dist/cleanup/index.d.ts.map
  dist/cleanup/index.js
  dist/cleanup/index.js.map
  package.json
  pnpm-lock.yaml
  src/cleanup/index.ts
  tests/cleanup.test.ts
  tsconfig.json
  vitest.config.mjs
  vitest.setup.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: update .gitignore to allow dist/cleanup/index.js
  .gitignore
Due: none

Remove unused deployment code and files not related to cleanup action
  comment/action.yml
  deploy/action.yml
  dist/cleanup/index.js
  dist/comment/index.d.ts
  dist/comment/index.js
  dist/deploy/index.d.ts
  dist/deploy/index.js
  dist/shared/lib/url-generator.d.ts
  dist/shared/lib/url-generator.js
  dist/shared/lib/wrangler.d.ts
  dist/shared/lib/wrangler.js
  dist/shared/schemas.d.ts
  dist/shared/schemas.js
  dist/shared/types.d.ts
  dist/shared/validation.d.ts
  dist/shared/validation.js
  examples/advanced/gitflow/README.md
  examples/advanced/gitflow/deploy.yml
  examples/advanced/gitflow/preview-deploy.yml
  examples/advanced/gitflow/worker-delete.yml
  examples/advanced/gitflow/wrangler.toml
  src/comment/constants.ts
  src/comment/index.ts
  src/deploy/index.ts
  src/shared/lib/url-generator.ts
  src/shared/lib/wrangler.ts
  src/shared/validation.ts
  tests/deploy.test.ts
  tests/integration.test.ts
  tests/wrangler.test.ts
Due: typecheck, lint, format

Remove unused Comment and Deploy schemas
  cleanup/action.yml
  examples/preview-deploy/README.md
  examples/preview-deploy/using-1pass-cli.yml
  examples/preview-deploy/using-secrets.yml
  examples/preview-deploy/wrangler.toml
  src/shared/schemas.ts
  tests/schemas.test.ts
Due: typecheck, lint, format

Move cleanup-specific schemas and types to src/cleanup directory
  src/cleanup/index.ts
  src/cleanup/schemas.ts
  src/cleanup/types.ts
  src/shared/schemas.ts
  src/shared/types.ts
  tests/schemas.test.ts
Due: typecheck, lint, format

Reorganize tests: Move cleanup-specific tests to src/cleanup/__tests__
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/schemas.test.ts
  vitest.config.mjs
Due: typecheck, lint, format

Add comprehensive tests for shared validation utilities
  tests/validation.test.ts
Due: typecheck, lint, format

Add comprehensive cleanup action documentation and examples
  examples/README.md
  examples/worker-delete/using-secrets.yml
Due: format

Rewrite cleanup documentation for practical usage
  examples/README.md
  examples/worker-delete/using-secrets.yml
Due: format

Document wildcard support in exclude parameter
  examples/README.md
Due: format

Document workflow_dispatch support for manual cleanup
  examples/README.md
Due: format

Clarify worker-names vs worker-pattern in documentation
  .gitignore
  examples/README.md
  examples/cleanup/advanced-cleanup.yml
  examples/cleanup/gitflow-cleanup.yml
  examples/cleanup/using-1pass-cli.yml
  examples/cleanup/using-secrets.yml
Due: format

Create comprehensive cleanup action guide in examples/cleanup/README.md
  examples/README.md
  examples/cleanup/README.md
  examples/cleanup/advanced-cleanup.yml
Due: format

Simplify cleanup README - reference yml files instead of duplicating
  examples/cleanup/README.md
Due: format

rename: develop/staging -> dev/stg
  README.md
  cleanup/action.yml
  dist/cleanup/index.js
  dist/shared/schemas.d.ts
  dist/shared/schemas.js
  dist/shared/types.d.ts
  examples/cleanup/README.md
  examples/cleanup/advanced-cleanup.yml
  examples/cleanup/gitflow-cleanup.yml
Due: typecheck, lint, format

preview-deploy init
  README.md
  action.yml
  examples/README.md
  examples/preview-deploy/prod-deploy.yml
  examples/preview-deploy/using-preview-deploy/README.md
  examples/preview-deploy/using-preview-deploy/multi-env.yml
  examples/preview-deploy/using-preview-deploy/preview-prod.yml
  examples/preview-deploy/using-wrangler-action/README.md
  examples/preview-deploy/using-wrangler-action/multi-env.yml
  examples/preview-deploy/using-wrangler-action/preview-prod.yml
  examples/preview-deploy/using-wrangler-action/wrangler.toml
  package.json
  pnpm-lock.yaml
  pr-comment/action.yml
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  src/pr-comment/index.ts
  src/pr-comment/schemas.ts
  src/prepare-preview-deploy/index.ts
  src/prepare-preview-deploy/schemas.ts
  src/preview-deploy/index.ts
  src/preview-deploy/schemas.ts
  tests/actions/action-validation.test.ts
  tests/actions/prepare-preview-deploy.test.ts
  tests/actions/preview-deploy.test.ts
  tests/integration/action-io-consistency.test.ts
Due: typecheck, lint, format

using biome
  .oxlintrc.json
  .prettierrc
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/schemas.test.ts
  src/cleanup/index.ts
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/cloudflare-api.ts
  src/shared/lib/error-handler.ts
  src/shared/validation.ts
  tests/actions/action-validation.test.ts
  tests/actions/prepare-preview-deploy.test.ts
  tests/actions/preview-deploy.test.ts
  tests/cloudflare-api.test.ts
  tests/integration/action-io-consistency.test.ts
  tests/validation.test.ts
Due: typecheck, lint, format

fix
  .github/actions/ci-checks/action.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  dist/cleanup/index.js
  dist/cleanup/schemas.d.ts
  dist/cleanup/schemas.js
  dist/cleanup/types.d.ts
  dist/cleanup/types.js
  dist/pr-comment/index.d.ts
  dist/pr-comment/index.js
  dist/pr-comment/schemas.d.ts
  dist/pr-comment/schemas.js
  dist/prepare-preview-deploy/index.d.ts
  dist/prepare-preview-deploy/index.js
  dist/prepare-preview-deploy/schemas.d.ts
  dist/prepare-preview-deploy/schemas.js
  dist/preview-deploy/index.d.ts
  dist/preview-deploy/index.js
  dist/preview-deploy/schemas.d.ts
  dist/preview-deploy/schemas.js
  dist/shared/lib/cloudflare-api.d.ts
  dist/shared/lib/error-handler.d.ts
  dist/shared/lib/error-handler.js
  dist/shared/validation.d.ts
  src/cleanup/__tests__/index.test.ts
Due: typecheck, lint, format

fix
  CHANGELOG.md
  LICENSE
Due: format

fix
  examples/cleanup/README.md
  examples/cleanup/advanced-cleanup.yml
  examples/cleanup/gitflow-cleanup.yml
  examples/cleanup/using-1pass-cli.yml
  examples/cleanup/using-secrets.yml
  tests/actions/action-validation.test.ts
  tests/actions/prepare-preview-deploy.test.ts
Due: typecheck, lint, format

fix examples/cleanup
  examples/cleanup/README.md
  examples/cleanup/advanced-cleanup.yml
  examples/cleanup/basic-workflow.yml
  examples/cleanup/gitflow-cleanup.yml
  examples/cleanup/multi-trigger.yml
Due: format

release using cc
  .claude/commands/release.md
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: pinact, gh-actions-permissions, ghalint, format

delete type in actions composite
  .github/actions/ci-checks/action.yml
  .github/actions/setup/action.yml
Due: format

Release v1.0.0
  CHANGELOG.md
Due: format

Rename project from cloudflare-actions to cf-workers-actions
  AGENTS.md
  CONTRIBUTING.md
  README.md
  action.yml
  examples/cleanup/basic-workflow.yml
  examples/cleanup/multi-trigger.yml
  examples/preview-deploy/using-preview-deploy/README.md
  examples/preview-deploy/using-preview-deploy/multi-env.yml
  examples/preview-deploy/using-preview-deploy/preview-prod.yml
  examples/preview-deploy/using-wrangler-action/README.md
  examples/preview-deploy/using-wrangler-action/multi-env.yml
  examples/preview-deploy/using-wrangler-action/preview-prod.yml
  package.json
Due: format

Update action name to CF Workers Actions
  action.yml
Due: format

docs: rename Cloudflare Actions to cf-workers-actions in documentation
  CONTRIBUTING.md
  README.md
  action.yml
Due: format

fix #6
  src/cleanup/__tests__/schemas.test.ts
  src/cleanup/index.ts
  src/cleanup/schemas.ts
Due: typecheck, lint, format

using vercel/ncc
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: format

domain required
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  src/prepare-preview-deploy/schemas.ts
  src/preview-deploy/schemas.ts
  tests/integration/action-io-consistency.test.ts
Due: typecheck, lint, format

fix
  README.md
  dist/cleanup/index.d.ts
  dist/cleanup/index.js
  dist/cleanup/schemas.d.ts
  dist/cleanup/schemas.js
  dist/cleanup/types.d.ts
  dist/cleanup/types.js
  dist/pr-comment/index.d.ts
  dist/pr-comment/index.js
  dist/pr-comment/schemas.d.ts
  dist/pr-comment/schemas.js
  dist/prepare-preview-deploy/index.d.ts
  dist/prepare-preview-deploy/index.js
  dist/prepare-preview-deploy/schemas.d.ts
  dist/prepare-preview-deploy/schemas.js
  dist/preview-deploy/index.d.ts
  dist/preview-deploy/index.js
  dist/preview-deploy/schemas.d.ts
  dist/preview-deploy/schemas.js
  dist/shared/lib/cloudflare-api.d.ts
  dist/shared/lib/cloudflare-api.js
  dist/shared/lib/error-handler.d.ts
  dist/shared/lib/error-handler.js
  dist/shared/schemas.d.ts
  dist/shared/schemas.js
  dist/shared/types.d.ts
  dist/shared/types.js
  dist/shared/validation.d.ts
  dist/shared/validation.js
  scripts/build.mjs
Due: typecheck, lint, format

chore: release v1.0.1
  CHANGELOG.md
  package.json
Due: format

fix: add github-token input to resolve authentication error
  dist/pr-comment/index.js
  dist/preview-deploy/index.js
  pr-comment/action.yml
  preview-deploy/action.yml
  src/pr-comment/index.ts
  src/preview-deploy/index.ts
  tests/integration/action-io-consistency.test.ts
Due: typecheck, lint, format

chore: release v1.0.2
  CHANGELOG.md
  package.json
Due: format

feat: add debug mode to control log verbosity
  dist/cleanup/index.js
  dist/prepare-preview-deploy/index.js
  src/cleanup/index.ts
  src/prepare-preview-deploy/index.ts
  src/shared/lib/logger.ts
  tests/shared/logger.test.ts
Due: typecheck, lint, format

chore: update vitest and add Renovate configuration
  package.json
  pnpm-lock.yaml
  renovate.json
Due: format
