Repository harunonsystem/cf-workers-actions: changes, and which lefthook commands are due for each by the changed paths.
All: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

pinact:
  run: pnpm run actions:pin

gh-actions-permissions:
  run: pnpm run actions:permissions

ghalint:
  run: pnpm run actions:lint

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm lint

format:
  run: pnpm format:check

fix: allow pnpm build dependencies
  package.json
  pnpm-workspace.yaml
Due: format

refactor: remove action manifest generator
  package.json
  scripts/generate-action-manifests.mjs
  src/shared/action-contracts.ts
  tests/integration/action-io-consistency.test.ts
Due: typecheck, lint, format

refactor: improve action architecture boundaries (#43)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .gitignore
  .node-version
  .nvmrc
  CONTRIBUTING.md
  README.md
  cleanup/action.yml
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  mise.toml
  package.json
  pnpm-workspace.yaml
  pr-comment/action.yml
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/policy.test.ts
  src/cleanup/cleanup-policy.ts
  src/cleanup/index.ts
  src/pr-comment/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/__tests__/cloudflare-api.test.ts
  src/shared/lib/cloudflare-api.ts
  src/shared/lib/deployment-utils.ts
  src/shared/lib/pr-comment-utils.ts
  src/shared/lib/preview-deployment.ts
  src/shared/lib/wrangler-utils.ts
  tests/actions/prepare-preview-deploy.test.ts
  tests/cloudflare-api.test.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/preview-deployment.test.ts
  tests/shared/wrangler-utils.test.ts
  tests/validation.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: keep changesets yaml compatibility
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix: keep changesets yaml compatibility (#44)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

test: cover PR-derived worker names
  src/cleanup/__tests__/index.test.ts
  tests/actions/preview-deploy.test.ts
  tests/shared/deployment-utils.test.ts
Due: typecheck, lint, format

test: cover PR-derived worker names (#45)
  src/cleanup/__tests__/index.test.ts
  tests/actions/preview-deploy.test.ts
  tests/shared/deployment-utils.test.ts
Due: typecheck, lint, format

fix: normalize preview worker names
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/shared/lib/template-utils.ts
  tests/shared/template-utils.test.ts
Due: typecheck, lint, format

fix: normalize preview worker names (#46)
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/shared/lib/template-utils.ts
  tests/shared/template-utils.test.ts
Due: typecheck, lint, format

chore: upgrade TypeScript to 6.0.3
  package.json
  pnpm-lock.yaml
Due: format

chore: upgrade TypeScript to 6.0.3 (#47)
  package.json
  pnpm-lock.yaml
Due: format

fix: use PR numbers for E2E worker names
  .github/workflows/e2e.yml
  tests/integration/e2e-workflow.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: use PR numbers for E2E worker names (#48)
  .github/workflows/e2e.yml
  tests/integration/e2e-workflow.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

perf: avoid duplicate CI builds
  .github/actions/ci-checks/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  tests/integration/ci-performance-workflow.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

perf: speed up GitHub Actions CI (#49)
  .github/actions/ci-checks/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  tests/integration/ci-performance-workflow.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

chore: prepare v1.3.2 release
  .changeset/bright-workers-fix.md
Due: format

chore: fix pnpm audit (undici/postcss) and update action digests
  .github/actions/load-secrets/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pinact, gh-actions-permissions, ghalint, lint, format

chore(deps): update minor deps (biome/zod/ncc)
  biome.json
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pnpm-lock.yaml
  src/cleanup/__tests__/utils.test.ts
Due: typecheck, lint, format

chore(deps): update vite to 8 and vitest to 5
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): update @actions/* to v3/v9 majors
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(deps): update @types/node to 26
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): update @changesets/cli to v3 and refresh mise tools
  mise.toml
  package.json
  pnpm-lock.yaml
Due: format

docs: add archify architecture/workflow/sequence showcase diagrams
  docs/architecture.archify.json
  docs/architecture.html
  docs/sequence.archify.json
  docs/sequence.html
  docs/workflow.archify.json
  docs/workflow.html
Due: format

docs: link archify interactive diagrams from README
  README.md
Due: format

refactor: tighten deployment boundaries and remove legacy overloads
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/shared/lib/deployment-utils.ts
  src/shared/lib/pr-comment-utils.ts
  src/shared/lib/preview-deployment.ts
  src/shared/lib/wrangler-utils.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/preview-deployment.test.ts
Due: typecheck, lint, format

fix: bundle ESM action dependencies
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  tsconfig.json
Due: lint, format

refactor: tighten deployment boundaries and remove legacy overloads (#63)
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/shared/lib/deployment-utils.ts
  src/shared/lib/pr-comment-utils.ts
  src/shared/lib/preview-deployment.ts
  src/shared/lib/wrangler-utils.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/preview-deployment.test.ts
  tsconfig.json
Due: typecheck, lint, format

Path conditions:
  pinact: any of: .github/workflows/*.{yml,yaml}
  gh-actions-permissions: any of: .github/workflows/*.{yml,yaml}
  ghalint: any of: .github/workflows/*.{yml,yaml}
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,yml,yaml,md}
