Repository harunonsystem/cf-workers-actions: changes, and which lefthook commands are due for each by the changed paths.
All: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

lefthook.yml:

# Lefthook configuration for GitHub Actions optimization
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Pin GitHub Actions to commit SHA for security
    pinact:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:pin

    # Optimize GitHub Actions permissions
    gh-actions-permissions:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:permissions

    # Lint GitHub Actions workflows
    ghalint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: pnpm run actions:lint

    # Type check
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck

    # Lint
    lint:
      glob: '*.{ts,tsx,js,jsx}'
      run: pnpm lint

    # Format check
    format:
      glob: '*.{ts,tsx,js,jsx,json,yml,yaml,md}'
      run: pnpm format:check

pre-push:
  parallel: false
  commands:
    # Run all tests before push
    test:
      run: pnpm test

    # Build to ensure it compiles
    build:
      run: pnpm build

add: cf-workers deploy
  .github/actions/load-secrets/action.yml
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  e2e/worker.js
  e2e/wrangler.toml
Due: pinact, gh-actions-permissions, ghalint, lint, format

add: update dist
  AGENTS.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
Due: lint, format

fix: add --config option to wrangler deploy command
  dist/preview-deploy/index.js
  src/preview-deploy/index.ts
Due: typecheck, lint, format

fix: return comment-id from pr-comment action
  dist/pr-comment/index.js
  dist/preview-deploy/index.js
  src/pr-comment/index.ts
  src/shared/lib/pr-comment-utils.ts
Due: typecheck, lint, format

refactor: share build via artifacts in e2e workflow
  .github/workflows/e2e.yml
Due: pinact, gh-actions-permissions, ghalint, format

chore: update pnpm to 10.26.0
  package.json
Due: format

docs: add worker-prefix/worker-numbers to cleanup examples
  examples/cleanup/README.md
Due: format

chore: update changeset
  .changeset/fix-branch-name-retrieval.md
Due: format

fix: add --target option to gh release create
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: add --target option to gh release create (#21)
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

feat: Update Node.js to v24.13.0 LTS (Krypton)
  .node-version
  .nvmrc
  package.json
Due: format

feat: Update Node.js to v24.13.0 LTS (Krypton) (#22)
  .node-version
  .nvmrc
  package.json
Due: format

fix(ci): replace actionlint action and bump vitest/yaml
  .github/workflows/ci.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: pinact, gh-actions-permissions, ghalint, format

fix(ci): replace actionlint action and bump vitest/yaml (#28)
  .github/workflows/ci.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: pinact, gh-actions-permissions, ghalint, format

feat: use branch-name and commit-hash for worker name templates
  .github/workflows/e2e.yml
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  src/shared/lib/deployment-utils.ts
  tests/actions/prepare-preview-deploy.test.ts
  tests/actions/preview-deploy.test.ts
  tests/shared/deployment-utils.test.ts
  tests/shared/template-utils.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: truncate worker names to Cloudflare 54-char preview limit
  .github/workflows/e2e.yml
  src/shared/lib/template-utils.ts
  tests/shared/template-utils.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

style: apply biome formatting to deployment-utils test
  tests/shared/deployment-utils.test.ts
Due: typecheck, lint, format

style: apply biome formatting to .claude/settings.local.json
  .claude/settings.local.json
Due: format

chore: add changeset for branch-name template
  .changeset/branch-name-template.md
Due: format

fix: lowercase worker names to satisfy Cloudflare naming rules
  .changeset/lowercase-worker-name.md
  src/shared/lib/template-utils.ts
  tests/shared/template-utils.test.ts
Due: typecheck, lint, format

chore: rebuild dist for v1.2.1
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
Due: lint, format

chore: add changeset for v1.2.2 dist rebuild
  .changeset/rebuild-dist-for-v1.2.1.md
Due: format

RELEASING: v1.2.2 (#32)
  .changeset/rebuild-dist-for-v1.2.1.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
Due: lint, format

fix: correct package name in v1.2.2 changeset
  .changeset/rebuild-dist-for-v1.2.1.md
Due: format

fix: detect missing workers via HTTP 404 status and migrate runtimes to node24
  .changeset/fix-worker-404-node24.md
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  cleanup/action.yml
  dist/cleanup/index.js
  pr-comment/action.yml
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  scripts/build.mjs
  src/cleanup/index.ts
  src/shared/lib/__tests__/cloudflare-api.test.ts
  src/shared/lib/cloudflare-api.ts
  tests/cloudflare-api.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: detect missing workers via HTTP 404 status and migrate runtimes to node24 (#34)
  .changeset/fix-worker-404-node24.md
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  cleanup/action.yml
  dist/cleanup/index.js
  pr-comment/action.yml
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  scripts/build.mjs
  src/cleanup/index.ts
  src/shared/lib/__tests__/cloudflare-api.test.ts
  src/shared/lib/cloudflare-api.ts
  tests/cloudflare-api.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: resolve dependabot alerts for vite, js-yaml and picomatch
  package.json
  pnpm-lock.yaml
Due: format

fix: bump @actions/core and @actions/github to resolve undici alerts
  .changeset/bump-actions-deps-undici.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pnpm-lock.yaml
  src/shared/lib/pr-comment-utils.ts
Due: typecheck, lint, format

fix: bump @actions/core and @actions/github to resolve undici alerts (#37)
  .changeset/bump-actions-deps-undici.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pnpm-lock.yaml
  src/shared/lib/pr-comment-utils.ts
Due: typecheck, lint, format

fix: poll worker availability in E2E instead of fixed sleep
  .github/workflows/e2e.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: poll worker availability in E2E instead of fixed sleep (#38)
  .github/workflows/e2e.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: resolve dependabot alerts for vite, js-yaml and picomatch (#36)
  .changeset/bump-actions-deps-undici.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pnpm-lock.yaml
  src/shared/lib/pr-comment-utils.ts
Due: typecheck, lint, format

refactor: improve action architecture boundaries
  CONTEXT.md
  README.md
  cleanup/action.yml
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  package.json
  pr-comment/action.yml
  prepare-preview-deploy/action.yml
  preview-deploy/action.yml
  scripts/generate-action-manifests.mjs
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/policy.test.ts
  src/cleanup/cleanup-policy.ts
  src/cleanup/index.ts
  src/pr-comment/index.ts
  src/preview-deploy/index.ts
  src/shared/action-contracts.ts
  src/shared/lib/__tests__/cloudflare-api.test.ts
  src/shared/lib/cloudflare-api.ts
  src/shared/lib/deployment-utils.ts
  src/shared/lib/pr-comment-utils.ts
  src/shared/lib/preview-deployment.ts
  src/shared/lib/wrangler-utils.ts
  tests/actions/prepare-preview-deploy.test.ts
  tests/cloudflare-api.test.ts
  tests/integration/action-io-consistency.test.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/preview-deployment.test.ts
  tests/shared/wrangler-utils.test.ts
  tests/validation.test.ts
Due: typecheck, lint, format

ci: align Node support with mise toolchain
  .github/workflows/ci.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  dist/cleanup/index.js
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  mise.toml
  package.json
Due: pinact, gh-actions-permissions, ghalint, lint, format

chore: ignore local planning context
  .gitignore
  CONTEXT.md
Due: format

chore: migrate to pnpm 11
  .github/actions/setup/action.yml
  CONTRIBUTING.md
  mise.toml
  package.json
  pnpm-workspace.yaml
Due: format
