Repository harunonsystem/cf-workers-actions: changes, and which lefthook commands are due for each by the changed paths.
All: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

pinact:
  run: pnpm run actions:pin

gh-actions-permissions:
  run: pnpm run actions:permissions

ghalint:
  run: pnpm run actions:lint

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm lint

format:
  run: pnpm format:check

chore: Update vitest and add Renovate configuration (#11)
  package.json
  pnpm-lock.yaml
  renovate.json
Due: format

chore: bump version to 1.0.3
  package.json
Due: format

docs: update CHANGELOG for v1.0.3
  CHANGELOG.md
Due: format

add worker-prefix
  cleanup/action.yml
  dist/cleanup/index.js
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/schemas.test.ts
  src/cleanup/index.ts
  src/cleanup/schemas.ts
Due: typecheck, lint, format

chore: setup changesets for automated releases
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: pinact, gh-actions-permissions, ghalint, format

feat(cleanup): remove worker-pattern, use worker-names or prefix+numbers only
  README.md
  cleanup/action.yml
  dist/cleanup/index.js
  examples/cleanup/README.md
  examples/cleanup/multi-trigger.yml
  pnpm-lock.yaml
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/schemas.test.ts
  src/cleanup/index.ts
  src/cleanup/schemas.ts
  src/shared/lib/cloudflare-api.ts
  tests/cloudflare-api.test.ts
Due: typecheck, lint, format

chore: add changeset for worker-pattern removal
  .changeset/README.md
  .changeset/remove-worker-pattern.md
Due: format

chore: simplify release workflow (no npm publish)
  .github/workflows/release.yml
  package.json
Due: pinact, gh-actions-permissions, ghalint, format

fix: format and suppress complexity warnings
  src/cleanup/__tests__/index.test.ts
  src/cleanup/index.ts
  src/cleanup/schemas.ts
  src/shared/lib/cloudflare-api.ts
  tests/cloudflare-api.test.ts
Due: typecheck, lint, format

ci: add Node.js 24.x to test matrix
  .github/workflows/ci.yml
Due: pinact, gh-actions-permissions, ghalint, format

docs: update readme
  README.md
  examples/cleanup/README.md
Due: format

cleanup: remove worker-pattern, add prefix+numbers (#12)
  .changeset/config.json
  .changeset/remove-worker-pattern.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  cleanup/action.yml
  dist/cleanup/index.js
  examples/cleanup/README.md
  examples/cleanup/multi-trigger.yml
  package.json
  pnpm-lock.yaml
  src/cleanup/__tests__/index.test.ts
  src/cleanup/__tests__/schemas.test.ts
  src/cleanup/index.ts
  src/cleanup/schemas.ts
  src/shared/lib/cloudflare-api.ts
  tests/cloudflare-api.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix
  package.json
Due: format

fix (#14)
  package.json
Due: format

fix: use GITHUB_HEAD_REF for PR branch name retrieval
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
Due: typecheck, lint, format

test: fix GITHUB_HEAD_REF cleanup in preview-deploy test
  .changeset/fix-branch-name-retrieval.md
  tests/actions/preview-deploy.test.ts
Due: typecheck, lint, format

ci: remove Node.js 18.x from test matrix (EOL April 2025)
  .github/workflows/ci.yml
Due: pinact, gh-actions-permissions, ghalint, format

test: improve PR branch name retrieval test coverage
  tests/actions/preview-deploy.test.ts
Due: typecheck, lint, format

Fix branch name retrieval issue (#15)
  .changeset/fix-branch-name-retrieval.md
  .github/workflows/ci.yml
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  tests/actions/preview-deploy.test.ts
Due: pinact, gh-actions-permissions, ghalint, typecheck, lint, format

fix: enable changeset tagging and update release PR title
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: enable changeset tagging and update release PR title (#17)
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

feat: configure draft releases and major tag updates for marketplace
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: resolve shellcheck errors in release workflow
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: resolve shellcheck SC2236 error
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

rm update major tag
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

Fix/release workflow config (#18)
  .github/workflows/release.yml
Due: pinact, gh-actions-permissions, ghalint, format

fix: add branch name and commit info to preview-deploy PR comments
  dist/preview-deploy/index.js
  src/preview-deploy/index.ts
Due: typecheck, lint, format

refactor: extract duplicate GitHub utils to shared library
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/github-utils.ts
Due: typecheck, lint, format

refactor: consolidate duplicate code into shared utilities
  dist/pr-comment/index.js
  dist/prepare-preview-deploy/index.js
  dist/preview-deploy/index.js
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/pr-comment-utils.ts
  src/shared/lib/template-utils.ts
  src/shared/lib/wrangler-utils.ts
Due: typecheck, lint, format

test: add comprehensive test coverage for shared utilities
  tests/shared/github-utils.test.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/template-utils.test.ts
  tests/shared/wrangler-utils.test.ts
Due: typecheck, lint, format

refactor: get github token func
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/github-utils.ts
  src/shared/lib/template-utils.ts
  tests/shared/github-utils.test.ts
  tests/shared/pr-comment-utils.test.ts
  tests/shared/wrangler-utils.test.ts
Due: typecheck, lint, format

refactor: get prNumber func
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/github-utils.ts
  tests/shared/github-utils.test.ts
Due: typecheck, lint, format

refactor: errorMessage, commaSeparated, sleep
  src/cleanup/index.ts
  src/shared/lib/cloudflare-api.ts
  src/shared/lib/error-handler.ts
  src/shared/lib/string-utils.ts
  tests/shared/error-handler.test.ts
  tests/shared/string-utils.test.ts
Due: typecheck, lint, format

refactor: shared lib
  src/cleanup/__tests__/utils.test.ts
  src/cleanup/index.ts
  src/cleanup/types.ts
  src/cleanup/utils.ts
  src/pr-comment/index.ts
  src/pr-comment/schemas.ts
  src/prepare-preview-deploy/index.ts
  src/prepare-preview-deploy/schemas.ts
  src/preview-deploy/index.ts
  src/preview-deploy/schemas.ts
  src/shared/lib/cloudflare-api.ts
  src/shared/lib/deployment-utils.ts
  src/shared/lib/error-handler.ts
  src/shared/lib/wrangler-utils.ts
  src/shared/schemas.ts
  tests/shared/deployment-utils.test.ts
  tests/shared/wrangler-utils.test.ts
Due: typecheck, lint, format

refactor: schema fix
  src/shared/lib/cloudflare-api.ts
  src/shared/schemas.ts
  src/shared/types.ts
Due: typecheck, lint, format

pnpm update
  biome.json
  package.json
  pnpm-lock.yaml
Due: format

refactor: schema i/o
  src/cleanup/index.ts
  src/cleanup/schemas.ts
  src/pr-comment/index.ts
  src/pr-comment/schemas.ts
  src/prepare-preview-deploy/index.ts
  src/prepare-preview-deploy/schemas.ts
  src/preview-deploy/index.ts
  src/preview-deploy/schemas.ts
  src/shared/schemas.ts
  src/shared/validation.ts
  tests/integration/action-io-consistency.test.ts
Due: typecheck, lint, format

refactor: unuse imports
  src/shared/lib/error-handler.ts
Due: typecheck, lint, format

refactor: env, validation
  src/cleanup/index.ts
  src/cleanup/utils.ts
  src/pr-comment/index.ts
  src/prepare-preview-deploy/index.ts
  src/preview-deploy/index.ts
  src/shared/lib/env.ts
  src/shared/lib/github-utils.ts
  src/shared/lib/logger.ts
  src/shared/lib/wrangler-utils.ts
  src/shared/validation.ts
  tests/helpers/mocks.ts
Due: typecheck, lint, format

refactor: use it.each
  src/cleanup/__tests__/utils.test.ts
  src/preview-deploy/index.ts
  tests/shared/env.test.ts
  tests/shared/error-handler.test.ts
  tests/shared/github-utils.test.ts
  tests/shared/logger.test.ts
  tests/shared/string-utils.test.ts
  tests/shared/template-utils.test.ts
Due: typecheck, lint, format

Path conditions:
  pinact: any of: .github/workflows/*.{yml,yaml}
  gh-actions-permissions: any of: .github/workflows/*.{yml,yaml}
  ghalint: any of: .github/workflows/*.{yml,yaml}
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,yml,yaml,md}
